<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<!--Navigation bar-->
<div th:insert="header :: header">...</div>
<!--end of Navigation bar-->

<body>
<form action="#" th:action="@{/addmatch}" th:object="${match}" method="post">
    <select class="form-control" id="teamOne" th:field="*{teamOne}">
        <option value="0">select team</option>
        <option th:each="team : ${teams}" th:value="${team.getId()}" th:text="${team.getName()}"></option>
    </select>
    <select class="form-control" id="teamTwo" th:field="*{teamTwo}">
        <option value="0">select team</option>
        <option th:each="team : ${teams}" th:value="${team.getId()}" th:text="${team.getName()}"></option>
    </select>
    <input type="submit" value="Add match">
</form>
</body>
</html>