<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Team</title>
</head>
<!--Navigation bar-->
<div th:insert="header :: header">...</div>
<!--end of Navigation bar-->

<body>

<form action="#" th:action="@{/addteam}" th:object="${Team}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <input class=button type="submit" value="Add team">
</form>
</body>
</html>