<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Novibet</title>
</head>
<!--Navigation bar-->
<div th:insert="header :: header">...</div>
<!--end of Navigation bar-->
<body>
	<div class="container">
		<div class="alert alert-success">
			<strong>Success!</strong> Login Successful.
		</div>
	</div>
	<span><strong th:text="${juistebets}">0</strong> bets correct voorspelt</span>
	<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}" />
</body>
</html>
