<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Novibet</title>

</head>
<!--Navigation bar-->
<div th:insert="header :: header">...</div>
<!--end of Navigation bar-->
<body>
<table>
  <thead>
  <tr>
    <th> matches </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${matches.size() == 0}">
    <td colspan="2"> No matches Available</td>
  </tr>
  <tr th:each="match : ${matches}">
    <td><span th:text="${match.teamOne.name}"> match </span></td>
    <td>' vs. '</td>
    <td><span th:text="${match.teamTwo.name}"> match </span></td>
  </tr>
  </tbody>
</table>
</body>
</html>