<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<!--Navigation bar-->
<div th:insert="header :: header">...</div>
<!--end of Navigation bar-->
<body>
<table>
    <thead>
    <tr>
        <th> Naam</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${teams.size() == 0}">
        <td colspan="2"> No Teams Available</td>
    </tr>
    <tr th:each="team : ${teams}">
        <td><span th:text="${team.name}"> Naam </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>